<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<form action="/search" method="post">
    <label for="city"></label>
    <input name="city" type="text" placeholder="City">
    <label for="item"></label>
    <input name="item" type="text" placeholder="Search">
    <button type="submit">Search</button>
</form>